#navbar {
    /* padding: 15px 10px; */
    background-color: lightskyblue;
    display: inline-flex;
    font-style: unset;
}

#navbar a {
    font-family: sans-serif;
    font-weight: 400;
    color: #000;
    padding: 15px 10px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: gainsboro;
}